# Supabase Configuration (Phase 3)
NEXT_PUBLIC_SUPABASE_URL=https://mnpqoovdejlcnxsthhwm.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ucHFvb3ZkZWpsY254c3RoaHdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyNTAwNjksImV4cCI6MjEwNTgyNjA2OX0.Ei8ACX5XQk-JImpgpn3e4wQtdNP4vYP_05j1LXjja9I

# Later Phases
# STRIPE_SECRET_KEY=
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
